:root {
  --paynes-gray: #525b76;
  --white: #fff;
}

body {
  background-color: var(--paynes-gray);
  box-sizing: border-box;
  margin: 0 auto;
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4vh;
  padding: 10px;
}

#nav-link li {
  display: inline;
  padding: 5px;
}

#nav-link li a {
  color: var(--white);
  text-decoration: none;
}

#hero {
  background-image: url("../images/developer.jpg");
  background-size: cover;
  background-position: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

#hero h2 {
  background-color: var(--paynes-gray);
  padding: 10px;
  /*border-radius: 5px;*/
}

#aboutMe,
#previousWork {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 20px;
}

aside {
  display: flex;
}

#aboutMe p {
  padding-left: 15px;
}

#inner {
  border-left: 6px solid green;
  margin: 0px 0px 10px 10px;
}

#workContent {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

#workContentInner {
  border: 5px solid darkorchid;
  margin: 10px;
}

#workContentInner img {
  width: 100%;
  height: auto;
}

#workContent div:nth-child(n) {
  display: flex;
  justify-content: center;
}

#workContent div:nth-child(1) {
  flex: 2 1 100%;
}
#workContent div:nth-child(n + 2) {
  flex: 1 1 10%;
}

/*Tablet screen size responsive*/
@media screen and (min-width: 767px) and (max-width: 1024px) {
  #aboutMe,
  #previousWork {
    flex-direction: column;
  }
  #aboutMe p {
    padding-left: 0px;
  }
  #inner {
    border-left: 0px;
    margin: 0px;
  }
  #workContent {
    flex-direction: column;
  }
}

/*Mobile screen size responsive*/
@media screen and (max-width: 767px) {
  #aboutMe,
  #previousWork {
    flex-direction: column;
  }
  #aboutMe p {
    padding-left: 0px;
  }
  #inner {
    border-left: 0px;
    margin: 0px;
  }
  #workContent {
    flex-direction: column;
  }
}
