:root {
  --paynesGray: #525b76;
  --white: #ffffff;
}

body {
  background-color: var(--paynesGray);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: var(--white);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4vh;
  padding: 1rem;
}

nav li {
  display: inline;
  padding: 5px;
}

nav li a {
  text-decoration: none;
  color: var(--white);
}

section:not(#hero) {
  flex: 1;
  display: flex;
  flex-direction: row;
  margin: 10px 10px 100px 100px;
}

#hero {
  background: url("../images/developer.jpg") center / cover;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

#hero h2 {
  background-color: var(--paynesGray);
  padding: 10px;
}

#aboutMe {
  flex-direction: row;
  align-items: baseline;
}

#aboutMe h3,
#previousWork h3 {
  border-right: 6px solid green;
  height: 100%;
  margin: 5px;
  padding: 5px;
}

.summary {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.summary > div {
  padding-right: 15%;
}

#previousWork {
  flex-direction: row;
}

#workContent {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

#workContent div {
  margin: 10px;
  flex: 1 0 100px;
  flex-wrap: wrap;
  border: 6px solid darkorchid;
}

#workContent div:first-child {
  position: relative;
  flex: 2 0 200px;
  border: 6px solid red;
  background-image: url(../images/seo.jpg);
  background-position: center;
  background-size: cover;
  height: 50vh;
  width: 150vh;
}

#workContent > div:not(:first-child) {
  flex: 1 0 150px;
}

@media (max-width: 1024px) {
  #aboutMe,
  #previousWork {
    flex-direction: column;
  }
  #aboutMe p {
    padding-left: 0;
  }
  #inner {
    border-left: 0;
    margin: 0;
  }
  #workContent {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  #aboutMe,
  #previousWork {
    flex-direction: column;
  }
  #aboutMe p {
    padding-left: 0;
  }
  #inner {
    border-left: 0;
    margin: 0;
  }
  #workContent {
    flex-direction: column;
  }
}
