:root {
  --paynesGray: #525b76;
  --white: #fff;
}

body {
  background-color: var(--paynesGray);
  box-sizing: border-box;
  margin: 0 auto;
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  justify-content: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4vh;
  padding: 10px;
}

nav li {
  display: inline;
  padding: 5px;
}

nav li a {
  color: var(--white);
  text-decoration: none;
}

#hero {
  background: url("../images/developer.jpg") center / cover;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

#hero h2 {
  background-color: var(--paynesGray);
  padding: 10px;
}

#aboutMe,
#previousWork {
  position: relative;
  display: flex;
  flex-direction: row;
  margin: 20px;
  justify-content: space-evenly;
}

aside {
  display: flex;
}

#aboutMe p {
  padding-left: 15px;
}

#inner {
  border-left: 6px solid green;
  margin: 0 0 10px 10px;
}

#workContent {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

#workContentInner {
  border: 5px solid darkorchid;
  margin: 10px;
}

#workContent div:first-child {
  flex: 2 1 100%;
}

#workContent div:not(:first-child) {
  flex: 1 1 10%;
}

.showCase #completedContent {
  height: 30vh;
  width: 100%;
  background: center / cover;
}

@media (max-width: 1024px) {
  #aboutMe,
  #previousWork {
    flex-direction: column;
  }
  #aboutMe p {
    padding-left: 0;
  }
  #inner {
    border-left: 0;
    margin: 0;
  }
  #workContent {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  #aboutMe,
  #previousWork {
    flex-direction: column;
  }
  #aboutMe p {
    padding-left: 0;
  }
  #inner {
    border-left: 0;
    margin: 0;
  }
  #workContent {
    flex-direction: column;
  }
}
